:root {
  --taille-cellule: 48px;
  --epaisseur-bordure-cellule: 1px;
  --epaisseur-padding-cellule: 2px;
  --couleur-bien-place: #e7002a;
  --couleur-mal-place: #ffbd00;
  --couleur-fond-grille: #0077c7;
  --couleur-non-trouve: rgb(112, 112, 112);
  --couleur-icone: rgb(200, 200, 200);
  --couleur-fond-rgb: 43, 43, 43;
  --couleur-fond: rgb(var(--couleur-fond-rgb));
  --couleur-bordure: #ffffff;
  --couleur-bordure-grille: #ffffff;
  --couleur-police: #ffffff;
  --couleur-police-grille: #ffffff;
  --taille-icone: 32px;
}

@font-face {
  font-family: "Roboto Medium";
  src: url("fonts/Roboto-Medium.ttf");
}

body {
  font-family: "Roboto Medium", Ubuntu, Arial, Helvetica, sans-serif;
  font-size: 32px;
  background-color: var(--couleur-fond);
  height: 100vh;
  text-align: center;
  color: var(--couleur-police);
  margin: 0;
  padding: 0;
}

#contenu {
  display: flex;
  flex-direction: column;
  margin-left: 25%;
  margin-right: 25%;
  justify-content: space-between;
  height: 100%;
}

header {
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid var(--couleur-bordure);
  margin-top: 0.1em;
  margin-bottom: 0.25em;
}

h1 {
  margin: 0;
}

.header-icones {
  display: flex;
  justify-content: space-around;
}

#configuration-regles-icone,
#configuration-config-icone,
#configuration-stats-icone,
#configuration-audio-icone {
  height: var(--taille-icone);
  width: var(--taille-icone);
}
#actualiser-bouton {
  position: absolute;
  top: 10vh;
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
  color: inherit;
}
#grille {
  margin-left: auto;
  margin-right: auto;
  background-color: var(--couleur-fond-grille);
  min-height: calc(6 * var(--taille-cellule) + 12 * var(--epaisseur-bordure-cellule));
}

.grille table {
  border-spacing: 0;
  background-color: var(--couleur-fond-grille);
}

.grille td {
  width: calc(var(--taille-cellule) - 2 * var(--epaisseur-padding-cellule));
  height: calc(var(--taille-cellule) - 2 * var(--epaisseur-padding-cellule));
  text-align: center;
  position: relative;
  padding: var(--epaisseur-padding-cellule);
  color: var(--couleur-police-grille);
  border: 1px solid var(--couleur-bordure-grille);
  z-index: 0;
}

.grille td:not(.resultat) {
  background-color: var(--couleur-fond-grille);
}

.grille td.resultat::after {
  width: calc(var(--taille-cellule));
  height: calc(var(--taille-cellule));
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: " ";
}

.grille td.mal-place::after {
  background-color: var(--couleur-mal-place);
  border-radius: 50%;
}

.grille td.bien-place::after {
  background-color: var(--couleur-bien-place);
}

.grille td.non-trouve::after {
  background-color: var(--couleur-fond-grille);
}

#panel-area {
  display: none;
  font-size: 24px;
}

#input-area {
  margin: 0.5em auto 2em;
  max-width: 100%;
  width: calc(100% - 20px);
  max-width: 500px;
}

.input-ligne {
  display: flex;
  justify-content: space-between;
  gap: 0.25em;
  width: 100%;
}

.input-ligne + .input-ligne {
  margin-top: 0.25em;
}

.input-lettre {
  font-size: 18px;
  display: inline-block;
  border: 1px solid var(--couleur-police);
  border-radius: 5px;
  user-select: none;
  flex-grow: 1;
  flex-shrink: 0;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
}

.input-lettre.input-lettre-vide,
.input-lettre.input-lettre-vide-double {
  border: 0;
}

.input-lettre.input-lettre-vide-double,
.input-lettre.input-lettre-entree {
  flex-grow: 2;
}

.input-lettre.lettre-bien-place {
  background: var(--couleur-bien-place);
}

.input-lettre.lettre-mal-place {
  background: var(--couleur-mal-place);
}

.input-lettre.lettre-non-trouve {
  color: var(--couleur-non-trouve);
  border: 1px solid var(--couleur-non-trouve);
}

.input-lettre:hover,
.input-lettre:active {
  cursor: pointer;
}

.input-lettre.input-lettre-vide:hover,
.input-lettre.input-lettre-vide:active {
  cursor: initial;
}

.regles-panel table {
  font-size: 32px;
}

.regles-panel #panel-fenetre {
  font-size: 14px;
  text-align: left;
}

.regles-panel #panel-fenetre-contenu p,
.regles-panel #panel-fenetre-contenu div {
  padding: 0.5em;
}

#panel-area a,
#panel-area a:visited {
  color: var(--couleur-police);
}

#notification,
#panel-fenetre-notification {
  opacity: 0;
  transition: opacity linear 1s;
}

#panel-area {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(var(--couleur-fond-rgb), 0.45);
  width: 100vw;
  z-index: 10;
}

#panel-fenetre {
  background-color: var(--couleur-fond);
  width: 50%;
  max-height: 85vh;
  overflow-y: hidden;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--couleur-bordure);
  border-radius: 0.25em;
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

#panel-fenetre-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: calc(100% - 1em);
  height: calc(36px + 0.75em);
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 0.25em;
  margin-bottom: 0.5em;
}

#panel-fenetre-titre {
  font-size: 36px;
  margin: 0;
}

#panel-fenetre-bouton-fermeture {
  text-decoration: none;
}

#panel-fenetre-bouton-fermeture-icone {
  width: 32px;
  height: 32px;
}

.config-panel #panel-fenetre-contenu {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.config-item, .slider-item {
  display: flex;
  justify-content: space-between;
}

.config-item > select, .slider-item > input {
  width: 200px;
}
.stats-area {
  display: table;
  padding-left: 0.5em;
}

.stats-ligne {
  display: table-row;
}

.stats-cellule {
  display: table-cell;
}

.stats-cellule:first-child {
  text-align: right;
}

.stats-cellule:not(:first-child) {
  padding-left: 0.5em;
  text-align: left;
}

.fin-de-partie-panel-phrase {
  text-align: left;
  padding-left: 0.5em;
}
@media (max-width: 1500px) {
  h1 {
    font-size: 1.35em;
  }
  #actualiser-bouton {
    top: 20vh;
  }
}
@media (max-width: 1024px) {
  #illimité {
    display: none;
  }
  h1 {
    font-size: 2em;
  }
  #contenu {
    margin-left: 2px;
    margin-right: 2px;
  }

  #panel-fenetre {
    width: 90%;
    max-height: calc(100vh - 4em - 2px);
  }
}

@media (max-width: 500px) {
  :root {
    --taille-cellule: 42px;
    --taille-icone: 28px;
  }
  .header-icones > *:first-child {
    display: none;
  }
  #actualiser-bouton {
    left: 0;
  }
  body,
  .regles-panel table {
    font-size: 28px;
  }
}

@media (max-height: 640px), (max-width: 400px) {
  :root {
    --taille-cellule: 36px;
  }

  body,
  .regles-panel table {
    font-size: 24px;
  }
}
